.setup {
    --playBtnColor: rgb(255, 255, 255);

    height: 100%;
}

/* * Player creator * */
.tableContainer {
    width: 100%;
    height: 80vh;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.playerCreationContainer {
    margin: 2%;

    color: white;
    background: var(--bg-light);

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.inputField {
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.inputField label {
    margin-right: 10px;
    font-size: large;
}

.inputField input {
    float: var(--align, right);
}

.colorPicker {
    width: 40%;
}

.pCanvas {
    margin: 20px;
    background: var(--bg);
}


/* * PlayBtn * */
.playBtnContainer {
    width: 99%;
    height: 18vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#playBtn {
    width: 250px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: large;

    margin: 20px;
    border-radius: 10px;

    background: var(--playBtnColor);
    transition: 0.5s;

    --angle:5deg;
}

.playBtn:hover {
    --offsetX: -0px;
    --offsetY: -20px;

    transform: 
        translate(var(--offsetX), var(--offsetY));
}

@keyframes tilt {
    25% {
        transform: rotate(var(--angle));
    }
    100% {
        transform: rotate(calc( -1 * var(--angle)));
    }
}

@keyframes launchGameAni {
    75% {
        transform: 
            scale(5)
            translate(0, -100px);
        opacity: 100%;
    }
    100% {
        transform: 
            scale(5)
            translate(0, -100px);
        opacity: 0%;
    }
}

.launchGame {
    --tiltDuration: 0.4s;
    --launchOffsetTime: 0.8s;
    --launchDuration: 2s;

    --totalAnimationTime: 2.5s;
    
    -webkit-animation: 
        tilt var(--tiltDuration) 0s 2,
        launchGameAni var(--launchDuration) var(--launchOffsetTime) 1;
}