:root {
    --bg: rgb(37, 37, 37);
    --bg-dark: rgb(30, 30, 30);
}

body {
    background: var(--bg-dark);
}

canvas {
    background: var(--bg);
    border-radius: 50%;
}

/* stats menu */
.playerContainer {
    position: absolute;
    width: var(--w, 140px);
    height: var(--h, 90px);

    background: var(--bg,rgb(40, 49, 51));
    color: white;
    border: 5px solid var(--bg);
}

.player1 {
    top: 0px;
    left: 0px;
}

.player2 {
    top: 0px;
    right: 0px;
}

.player3 {
    bottom: 0px;
    left: 0px;
}

.player4 {
    bottom: 0px;
    right: 0px;
}

/* name */
.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name div {
    padding: 10px;
    padding-bottom: 0px;
}
.name img {
    height: 30px;
    aspect-ratio: 1;
}

.name .usr {
    font-style: italic;
}

/* kda */
.kda {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.kda div {
    display: flex;
    flex-direction: row;

    width: 100%;
}

.kda div div{
    justify-content: center;
}